body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333333;
    margin-top: 30px;
}

.Para {
    text-align: center;
    margin: 20px;
    padding: 0 10%;
}

.Box1 {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.Box1 img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    text-align: justify;
    margin: 20px;
    padding: 0 10%;
    color: #555555;
}

.Musikk {
    text-align: center;
    margin: 20px;
    padding: 0 10%;
}

.Musikk img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.SIDEMEN {
    text-align: center;
    margin: 20px;
}

.SIDEMEN img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.SIDEMEN img:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
}