.KSI {
    display: flex;
    justify-content: center;
    text-align: center;
}



.Miniminter {
    display: flex;
    margin: 50px;
}

.Zerkaa {
 display: flex;
 justify-content: right;
}

.W2S {
    display: flex;
}

.Vikkstar123 {
    display: flex;
    justify-content: right;
}

.Behzinga {
    display: flex;

}

.TBJZL {
    display: flex;
    justify-content: right;
}